.home.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.home.hero .heroimage {
    height: 60vh;
    background-image: url("../images/Daughters_of.jpeg");
    background-size: cover;
    background-position: center;

}

.film-title {
    display: flex;
    align-items: center;
    justify-content: center;

}

.first-letter {
    font-size: 200%;
}

/* Tooltips */
.tooltip { pointer-events: none !important; }
.tooltip.in { opacity: 1 !important;}

.tooltip-arrow {
    border-right-color: #9e6b6b !important;
}
.tooltip-inner {
    background-color: #9e6b6b;
    color: white;
    max-width: 100%;
    padding: 10px 20px;
    font-size: 12pt;
    text-align: left !important;
}

span.my-tooltip {
    border-bottom: 3px dotted #A57A5A !important;

}
