.home.hero {
    min-height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
}

.film-title {
    display: flex;
    align-items: center;
    justify-content: center;
}

.film-title h1 {
    font-weight: 900;
}

.first-letter { font-size: 200%; }

/* Tooltips */
.tooltip { pointer-events: none !important;}
.tooltip.in { opacity: 1 !important; pointer-events: none !important; }

.tooltip-arrow {
    border-right-color: #9e6b6b !important;
}
.tooltip-inner {
    background-color: #9e6b6b;
    color: white;
    min-width: 15vw;
    max-width: 100%;
    padding: 10px 20px 3px 20px;
    font-size: 12pt;
    text-align: left !important;
}

span.my-tooltip {
    border-bottom: 3px dotted #A57A5A !important;
    margin-left: 5px;
    margin-right: 5px;
}

.blockquote p {
    font-size: 11pt;
    line-height: 2rem;
}

.about p {
    /* font-size: 12pt; */
    line-height: 3rem;
}